<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Register Form</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>
      <div class="col-md-4">
        <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="username">Username</label>
      <div class="col-md-4">
        <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fn">First name</label>
      <div class="col-md-4">
        <input id="fn" name="fn" type="text" placeholder="first name" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="ln">Last name</label>
      <div class="col-md-4">
        <input id="ln" name="ln" type="text" placeholder="last name" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Multiple Radios (inline) -->
    <!--<div class="form-group">
      <label class="col-md-4 control-label" for="Training">Would you like to attend our Networking Reception on September 3, 2015?</label>
      <div class="col-md-4">
        <label class="radio-inline" for="Training-0">
          <input type="radio" name="Training" id="Training-0" value="yes" checked="checked">
          Yes
        </label>
        <label class="radio-inline" for="Training-1">
          <input type="radio" name="Training" id="Training-1" value="no">
          No
        </label>
      </div>
    </div>-->

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary">SUBMIT</button>
      </div>
    </div>

  </fieldset>
</form>
