<nav class="navbar navbar-default navbar" style="background-color: #2a333c;">
  <div class="container-fluid" style="background-color: #c12127; text-align: right; height:46px; line-height: 46px;">
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="dashboard">Dashboard</a></li>
        <li><a routerLink="search">Search</a></li>
        <li><a routerLink="trades">Trades</a></li>
        <li><a routerLink="about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container-fluid" style="height:80px; line-height: 80px;">
    <div class="pull-left">
      <img src="favicon.ico">
    </div>
    <div class="pull-right">
      <button class="btn btn-danger navbar-btn" routerLink="login">Login/Register</button>
    </div>
  </div>
</nav>
<!--<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
    </div>
  </div>
</div>
-->
<div class="container">
  <router-outlet></router-outlet>
</div>
